/* CSS Document */

/* 
Fonts:
*/

/* CSS Reset */
* {
	font-family: "comic sans", sans-serif;
}

/* Body CSS */
body {
	background-color: #FFA6FB;
	padding: 10px;
	margin: 0;
}

.important {
	font-size: 1.02em;
	font-weight: bold;
}

/* Header CSS */
#ccs h2, #ccs h3, #ccs h4 {
	color: #fff;
	font-weight: bolder;
	font-style: italic;
	margin: 0 auto;
	text-align: center;
}

/* Nav CSS */
nav ul {
	list-style: none;
	display: inline;
	text-align: center;
	margin: 0 auto;
}

nav a{
	color: #fff;
	text-align: center;
	font-size: 1em;
	text-decoration: none;
	padding: 0.1em 0.75em;
}

nav li {
	border-top: none;
	border-bottom: none;
	display: block;
	}

nav ul {
	list-style: none;
	display: inline;
	text-align: center;
	margin: auto;
}

#ccs {
	color: #fff;
	background-color: #CC2CC1;
	border: #000 10px outset;
}

#ccs nav ul {
	list-style: none;
	display: inline;
	text-align: center;
	margin: 0 auto; 
}

#ccs nav li {
	border-top: none;
	border-bottom: none;
	display: inline;
	}

#ccs nav a{
	color: #000;
	text-align: center;
	font-size: 1em;
	text-decoration: none;
	font-weight: bolder;
}

#ccs nav a:hover {
	background-color: #000;
	color: #CC2CC1;
	font-size: 1.4em;
	border-radius: 15px;
}

/* Header CSS */
header {
	color: #7A97E1;
	text-align: center;
}

#start {
	color: #518320;
	background-color: #942471;
	padding: 25px;
	margin: 0px 0px 10px 0px;
	border: 10px cadetblue dotted;
}


#biostart {
	color: #7A97E1;
	background-image: url("../images/fancyMe.jpg");
	background-size: 100% 100%;
	padding: 25px;
	margin: 0px 0px 10px 0px;
	border: 10px cadetblue dotted;
}
#biostart header {
	color: #7A97E1;
	text-align: center;
}

/* Main CSS */
main {
	
}

#projects {
	color: powderblue;
	background-color: purple; 
	padding: 25px;
	margin: 10px 0px;
	border: 10px goldenrod dotted;
}

#earlylife {
	color: #EA7ED6;
	background-color: darkred; 
	padding: 25px;
	margin: 10px 0px;
	border: 10px #41626D dotted;	
}

#departments {
	color: palegoldenrod;
	background-color: darkolivegreen; 
	padding: 25px;
	margin: 10px 0px;
	border: 10px aquamarine dotted;
}

#teenyears {
	
}

#location {
	color: darkred; 
	background-color: grey;
	padding: 25px;
	margin: 10px 0px;
	border: 10px plum dotted;
}
#laterlife {
	
}

#future {
	
}

#end {
	color: rebeccapurple; 
	background-color: darkcyan;
	padding: 25px;
	margin: 10px 0px;
	border: 10px lightcoral dotted;
}

/* Footer CSS */
footer {
	font-size: 0.75em;
	text-align: center;
	padding: 0 1em;
}